@import "../../../StyleVariables.scss";

.TextInput{
    width: 100%;
    margin: 20px auto;
    position: relative;

    &::after{
        content: "";
        width: 0%;
        height: 2px;
        bottom: 0px;
        left: 0;
        display: block;
        position: absolute;
        background-color: $highlight;
        transition: width 0.3s ease;
    }

    &:has(.TextInput-input:focus)::after, &:has(.TextInput-input:hover)::after  {
        width: 100%;
    }
    
    .TextInput-label{
        font-size: $label-font-size;
        display: block;
        width: 100%;
        margin-bottom: 5px;
        margin-left: 5px;
        font-weight: bold;
    }
    .TextInput-input{
        font-size: $input-font-size;
        width: 100%;
        border:none;
        border-bottom: 2px solid $stroke-color;
        padding: 5px;


        &:focus{
            outline: none;
            border-bottom-color:transparent;
        }

        &:hover{
            background-color: $input-hover;
            border-bottom-color:transparent;
        }
    }
}