@import "../../StyleVariables.scss";
.LoginForm{

    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;

    .LoginForm-title{
        padding: 20px 10px;
        text-align: center;
        width: 100%;
    }


    .LoginForm-button{
        margin: 25px auto 10px;
        display: block;
        width: 80%;
        padding: 10px;
        font-weight: bold;
        font-size: $input-font-size;
    }
}
