@import "./StyleVariables.scss";

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body{
    background-color: $background;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

a {
    text-decoration: none;
}



p, button, a, li, span, i, input, label{
    color: $font-color;
}

button{
    background-color: $button-background;
    border: 3px solid $button-background;
    color: $button-foreground;
    border-radius: 5px;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

button:hover{
    cursor: pointer;
    background: $button-hover;
    border-color: $button-hover;
}

h1,h2,h3{
    color: $title-color;
}

.link{
    color: $highlight;
}



.secondaryButton{
    color: $button-background;
    background: $button-foreground;

    &:hover{
        background-color: $button-background;
        border-color: $button-background;
        color: $button-foreground;
    }
}

.destructiveButton{
    color: $button-foreground; 
    background-color: $destructive-color;
    border-color: $destructive-color;

    &:hover{
        background-color: red;
        border-color: red;
    }  
}

.destructiveSecondaryButton{
    color: $destructive-color; 
    background-color: $button-foreground;
    border-color: $destructive-color;

    &:hover{
        background-color: $destructive-color;
        border-color: $destructive-color;
        color: $button-foreground;
    }  
}

button:disabled{
    border-color: $button-disable-bg;
    background-color: $button-disable-bg;
    color: $button-disable-fg;
}

button:disabled:hover{
    cursor:default;
    border-color: $button-disable-bg;
    background-color: $button-disable-bg;
    color: $button-disable-fg;
}