//COLORS
$accent-color: #182979;
$background: #fefefe;
$font-color: #5f6c7b;
$title-color: #094067;
$stroke-color: #094067;
$secondary-color: #90b4ce;

$input-hover: #efefef;

$button-background: #3da9fc;
$button-foreground: #fefefe;
$button-hover: #094067;

$highlight: #3da9fc;
$light-grey: #efefef;

//FONT SIZE
$input-font-size: 1.1rem;
$label-font-size: 1.2rem;